<p id="notice"><%= notice %></p>

<h1>Listing Participations</h1>

<table>
  <thead>
    <tr>
      <th>Mid</th>
      <th>Pid</th>
      <th>Uid</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Attention</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participations.each do |participation| %>
      <tr>
        <td><%= participation.mid %></td>
        <td><%= participation.pid %></td>
        <td><%= participation.uid %></td>
        <td><%= participation.startdate %></td>
        <td><%= participation.enddate %></td>
        <td><%= participation.attention %></td>
        <td><%= link_to 'Show', participation %></td>
        <td><%= link_to 'Edit', edit_participation_path(participation) %></td>
        <td><%= link_to 'Destroy', participation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participation', new_participation_path %>
