<p id="notice"><%= notice %></p>

<p>
  <strong>Mid:</strong>
  <%= @participation.mid %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @participation.pid %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @participation.uid %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @participation.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @participation.enddate %>
</p>

<p>
  <strong>Attention:</strong>
  <%= @participation.attention %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
