<p id="notice"><%= notice %></p>

<h1>Mögliche Teilnehmer</h1>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.vname} #{user.nname}", edit_user_path(user) %><br>
        &nbsp;<%= user.email %></td>
        <td><%= user.blockdaten %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
