<p id="notice"><%= notice %></p>

<h2><%= link_to @projekt.title, edit_projekt_path(@projekt) %></h2>
<%= @projekt.jpissue %>, <%= @projekt.startdate %> - <%= @projekt.enddate %>
<p>
  <%= @projekt.description %>
</p>

<strong>Meilensteine:</strong>
<ul>
<% @projekt.milestones.each do |m| %>
  <li><%= m.title %></li>
<% end %>
</ul>
<p>neuen Meilenstein anlegen</p>
<%= render 'milestone' %>