<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label "Startdatum" %><br>
    <%= f.date_field :start_datum %>
  </div>
  <div class="field">
    <%= f.label "Enddatum" %><br>
    <%= f.date_field :end_datum %>
  </div>
  
  <div class="field">
    <% f.label :wochentage %><br>
    <% @plan.wochentage.split(",").each do |wt| %>
      <% f.check_box :wochentage, { :multiple => true }, wt, nil %>
    <% end %>
  </div>

  <h3>Teilnehmerliste</h3>
  <p>Ich will hier ne Liste aller aktiven User haben und mit einem Häkchen diejenigen ankreuzen können, die am Pikett teilnehmen werden.</p>
  <table class="tn-liste" id="tn-liste">
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>eMail</th>
      <th>Blockdaten</th>
      <th><%= f.submit (I18n.t :add_attendee) %></th>
      <!-- :id => @plan.id -->
    </tr>
    <%= render "tn_liste", :f => f %>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
