<div id="plan">
<% if @plan.abgenommen %>
  <article>
    <strong>Teilnehmer(<%= @plan.attendances.size %>):</strong>
    <% @plan.attendances.each do |a| %>
      <%= "#{a.user.vname} #{a.user.nname.first}." %>
    <% end %>
  </article>
<% else %>
  <article>
    <strong>mögliche Teilnehmer (<%= User.aktuell.size %>)</strong>
    <menu>
      <%= link_to "neu berechnen", calculate_path(@plan), remote: true %><br>
      <%= link_to "so vorschlagen", suggest_path(folge: @folge), method: "put" %><br>
      <%= link_to "OK, so übernehmen", close_path, method: "put" %>
    </menu>
  </article> 
<ul class="attendees">
    <% User.aktuell.order('nname').each do |user| %>
      <% uname =  user.vname + " " + user.nname.first + "." %>
      <% if @plan.attendances.any? { |attendance| attendance.user_id == user.id } %>
        <% cl = "tn" %>
        <% link = "( #{@auslastung[uname]} )" %>
      <% else %>
        <% cl = "ntn" %>
        <% link = "" %>
      <% end %>
      <li>
        <table class="attendee">
          <tr>
            <td class="name"><%= uname %></td>
            <td class="checkbox"><%= link_to link, addattendee_path(plan_id: @plan.id, user_id: user.id, todo: cl), class: cl %></td>
          </tr>
        </table>
      </li>
  <% end %>
  </ul>
<% end %>
<hr>
<br>
  <% (@plan.start_datum.month..@plan.end_datum.month).each do |monat| %>  
    <article class="monat">
      <table>
        <tr>
          <th colspan="9" style="text-align: left; font-weight:bold; "><%= monate[monat] %></th>
        </tr>
        <tr class="kopf">
          <td class="wn"><%= (@plan.wechsel == 1)? "KW" : "R" %></td>
          <% c = 0 %>
          <% 7.times do %>
            <td><%= (@plan.wechsel + c) <= 7? wochentage[@plan.wechsel + c].slice(0..1) : wochentage[@plan.wechsel + c - 7].slice(0..1) %></td>
            <% c = c+1 %>
          <% end %>
          <td></td>
        </tr>
        <% w = Date.new(@plan.jahr,monat).monday %>
        <% while (w.month <= monat && w.year <= @plan.jahr) || (w.month == 12 && w.year < @plan.jahr) do %>
          <% if w.cweek == Date.today.cweek && w.year == Date.today.year %>
            <tr class="aktuell">
          <% else %>
            <tr>
          <% end %>
            <td class="wn"><%= w.cweek %></td>
            <% (1..7).each do |wt| %>
              <% if (w + (wt - 1)) == Date.today %>
                <td class="heute">
              <% else %>
                <td class="dom">
              <% end %>
              <%= (w + (wt - 1)).strftime("%d") %>
            </td>
            <% end %>
            <% if @folge && !( monat == 12 && w.cweek == 1 ) && @folge[w.cweek] == "nicht besetzt!"%>
            <td class="nicht_besetzt">
            <% else %>
            <td>
            <% end %>
            <% if @folge && !( monat == 12 && w.cweek == 1 ) %>
              <%= @folge[w.cweek] %>
            <% end %>
            </td>
          </tr>
          <% w = w+7 %>
        <% end %>
      </table>
    </article>
  <% end %>
</div>