<tr>
  <td>
    <div class="field">
      <%= fa.text_field :vname %>
    </div>
  </td>
  <td>
    <div class="field">
      <%= fa.text_field :nname %>
    </div>
  </td>
  <td>
    <div class="field">
      <%= fa.text_field :email %>
    </div>
  </td>
  <td>
    <div class="field">
      <%= fa.text_area :blockdaten %>
    </div>
  </td>
  <td>
    <%= fa.check_box :_destroy %>
    <%= fa.label :_destroy, "Remove" %>
  </td>
</tr>