<tr>
  <td>
    <div class="field">
      <%= f.text_field :vname %>
    </div>
  </td>
  <td>
    <div class="field">
      <%= f.text_field :nname %>
    </div>
  </td>
  <td>
    <div class="field">
      <%= f.text_field :email %>
    </div>
  </td>
  <td>
    <div class="field">
      <%= f.text_area :blockdaten %>
    </div>
  </td>
  <td>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "Remove" %>
  </td>
</tr>