<h2>Plan für <%= @plan.jahr %></h2>

<% if @plan.abgenommen %>
  <article>
    <strong>Teilnehmer(<%= @plan.attendances.size %>):</strong>
    <% @plan.attendances.each do |a| %>
      <%= "#{a.user.vname} #{a.user.nname.first}." %>
    <% end %>
  </article>
<% else %>
  <article>
    <strong>mögliche Teilnehmer (<%= User.aktuell.size %>)</strong>
    <ul class="attendees">
    <% User.aktuell.order('nname').each do |user| %>
    <% @plan.attendances.any? { |attendance| attendance.user_id == user.id } ? cl = "tn" : cl = "ntn" %>
      <li><%= user.vname + " " + user.nname.first + ". " %>
        <%= link_to "", addattendee_path(plan_id: @plan.id, user_id: user.id, todo: cl), class: cl %>
      </li>
  <% end %>
  </ul>
  </article>
  <p>
    <%= link_to "neu berechnen", calculate_path(@plan), remote: true %>
  </p>
  
<% end %>

<hr>
<br>
<%= render "plan" %>